*{
    margin:0;
    padding:0;
}

body{
    background-color:#8de0a6;
    font-family: Arial, Helvetica, sans-serif;

}


header{
    background-color:#4eb3de;
}

nav li:hover {
    background-color: white;
}

button:hover {
    color:#4eb3de ;
}

.icono {
    display: flex;
}

.img_icono{
    height:40px;
    margin-left:30px;
    padding-top: 10px;
}

.img_producto {
    height: 300px;
    padding-top: 50px;
}

.img_principal {
    width: 400px;
}

li img{
    height:15px;
    width:15px;;
}

a{
    color: black;
    font-weight: bold;
    font-size:20px;
}

main {
    margin-top:20px;
    text-align: center;
    padding: 5px;
    min-height: 445px;
}

span {
    font-weight: bold;
}

p a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.pie_de_pagina{
      background-color:#4eb3de;
      font-weight: bold;
      text-transform: capitalize;
      padding: 2px;
} 

.class_h1 {
    padding: 5px;
    font-size: 25px;
}

.class_h2 {
    font-size:20px;
    padding-top: 20px;
}

.elegir_producto{
    margin-top: 100px;
}

.textos{
    padding-top: 80px;
}

.be_kind {
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}



@media only screen and (max-width: 992px) {



    body {
        background-color:#4eb3de;
    }

    header {  
        background-color:#8de0a6;
    }

    nav li:hover {
        background-color: white;
    }

    .nav_responsive {
        padding-left:200px;
    }

    .pie_de_pagina{
      background-color:#8de0a6;
    }

}
